.gapLayoutWrapper {
  padding: 3px;
  height: 100%;
  width: 100vw;

  .layoutWrapper {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - (3px * 2));
    width: 100%;
    overflow-y: hidden;
    background: no-repeat url('../../../src/assets/Images/main-background.png');
    background-size: cover;
  }
}
