.gapLayoutWrapper {
  padding: 3px;
  height: 100vh;
  width: 100vw;

  .layoutWrapper {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
