@import "./index.scss";

.hidden {
  display: none;
}

.react-calendar-heatmap .color-empty {
  fill: $quaternary;
}

.react-calendar-heatmap .color-filled {
  fill: $primary;
}

.fira {
  font-family: $FiraCodefontFamily;
}
