@import "../../../styles/sass/abstracts/colors";
@import "../../../styles/sass/abstracts/variables";
@import "../../../styles/sass/abstracts/mixins";

.primaryButton {
    background-color: $primary;
    color: $outline;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
    @include thinBorder();

    &:active {
        transition: scale 0.1s ease-in-out;
        scale: 0.99;
    }
}
