@import '../../../styles/sass/abstracts/index.scss';

.progressBarWrapper {
  position: relative;
  height: 1rem;
  background-color: lightgrey;
  margin: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: 3px solid black;
}
