@import "../../theme/abstracts/index.scss";

.select {
  @include thinBorder();
  font-weight: 800;
  height: 2rem;
  border-radius: 5px;
  box-shadow: none;
  font-family: $FiraCodefontFamily;

  option {
    font-family: $FiraCodefontFamily;
    font-weight: 800;
  }

  &:hover {
    cursor: pointer;
  }
}