@import "../../theme/index.scss";

.keyBoardWrapper {
  background-color: $quaternary;
  width: 50rem;
  border-radius: 10px;
  overflow: hidden;
  @include thinBorder();
  border: 4px solid #181818;
  padding: 0.5rem;
}

.keyboard--small {
  width: 45rem;
}

.keyBoardRow {
  display: flex;
}

.key {
  border-color: #181818;
  color: #181818;
  border: 3px solid black;
  font-size: 16px;
  box-sizing: border-box;
  font-family: $FiraCodefontFamily;
  font-weight: 800;
  height: 2.5rem;
  width: 2.5rem;
  margin: 2px 3px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px $outline;
  background-color: white;

  &--pressed {
    color: #ffffff;
    box-shadow: 1px 1px 0px $outline;
  }

  &--key {
    width: 2.6rem;
  }

  &--grow {
    flex-grow: 1;
  }

  &--backspace {
    flex-grow: 1;
  }

  &--shift {
    flex-grow: 1;
  }

  &--capsLock {
    width: 8rem;
  }

  &--tab {
    width: 6rem;
  }

  &--enter {
    flex-grow: 1;
  }

  &--ctrl {
    width: 5rem;
  }

  &--sqrib {
    flex-grow: 1;
  }
}

.stretch {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: $lg-screen) {
  .keyboard--small {
    width: 35rem;
    .key {
      height: 2rem;
    }
  }
}

@media screen and (max-width: $md-screen) {
  .keyboard--small {
    width: 27rem;
    .key {
      height: 1.5rem;
    }
  }
}

@media screen and (max-width: $sm-screen) {
  .keyboard--small {
    width: 25rem;
    .key {
      height: 1.2rem;
    }
  }

}
