@import "../../theme/index.scss";
$disabled-color: lightgray;

.main-input--wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;

  .main-input {
    border: 3px solid $outline;
    border-radius: 6px;
    background-color: $tertiary;
    font-weight: 800;
    font-size: 20px;
    font-family: $FiraCodefontFamily;
    padding: 6px 14px;
    box-shadow: $shadow-button;
    width: 100%;

    &::placeholder {
      font-family: $FiraCodefontFamily;
      color: $grey;
      font-weight: 400;
    }

    &:disabled {
      cursor: not-allowed;
      border-color: $disabled-color;
      box-shadow: none;

      &::placeholder {
        color: $disabled-color;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: $sm-screen) {
  .main-input--wrapper {
    .main-input {
      &::placeholder {
        font-size: 12px;
      }
    }
  }
}
