$primary: #D69C5D;
$secondary: #0D4D4B;
$tertiary: #FFFFFF;
$quaternary: rgb(213, 230, 228);
$outline: #181818;
$error: #F31260;
$success: #13A452;
$link-color: #0070f0;
$grey: #778899;
$light-grey: #E5E5E5;
$very-light-grey: #F5F5F5;