@import "./colors";
@import "./variables";

// Add outter stroke to text
@mixin stroke($color: #000, $size: 1px) {
  text-shadow:
    -#{$size} -#{$size} 0 $color,
    0 -#{$size} 0 $color,
    #{$size} -#{$size} 0 $color,
    #{$size} 0 0 $color,
    #{$size} #{$size} 0 $color,
    0 #{$size} 0 $color,
    -#{$size} #{$size} 0 $color,
    -#{$size} 0 0 $color;
}

// For big component like modal and sidebars
@mixin thickBorder {
  border: 5px solid $outline;
  padding: 1rem;
  box-shadow: $shadow-button;
}

// For button
@mixin thinBorder {
  border: 3px solid $outline;
  box-shadow: $shadow-button;
  padding: 4px 0;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin lightBackground {
  background: no-repeat url("../../assets/images/light_background.svg");
  background-size: cover;
}

@mixin darkBackground {
  background: no-repeat url("../../assets/images/main-background.png");
  background-size: cover;
}

@mixin mainContainer {
  border: 4px solid black;
  box-shadow: 4px 4px 0px black;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 80%;
  height: calc(100% - 1rem);
  @include lightBackground();

  box-shadow: 0 0 200px rgba(0, 0, 0, 0.2) inset;
}

@mixin vignettage($spread, $opacity) {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, transparent, black $spread);
  opacity: $opacity;
  pointer-events: none; // Makes sure pseudo elements do not disturbs interactions with other elements
}
