@import '../../../../styles/sass/abstracts/index.scss';

.createModalWrapper {
  display: flex;
  justify-content: center;

  .playersWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-self: flex-start;
    
    .player {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $outline;
      margin: 5px;
      padding: 5px;
      width: 100%;
    }
  }
}

.inviteTitle {
  color: $primary;
  text-align: center;
  font-size: 15px;
  padding: 0;
  margin: 0;
  @include stroke($outline, 2px);
}

@media screen and (max-width: $md-screen) {
  .createModalWrapper {
    flex-direction: column-reverse;
  }
}
