@import '../../../../styles/sass/abstracts/breakpoints';

.createModalWrapper {
  display: flex;
  justify-content: center;

  .playersWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-self: flex-start;
    
    .player {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px black solid;
      margin: 5px;
      padding: 5px;
      width: 5rem;
      height: 5rem;
      border-radius: 50px;
    }
  }
}

@media screen and (max-width: $md-screen) {
  .createModalWrapper {
    flex-direction: column-reverse;
  }
}
