@import '../../theme/index.scss';

.input {
  @include thinBorder(); 
  padding-inline-start: 15px;
  margin: 5px 0;
  height: 45px;
  transition: all 1px ease-in-out;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: none !important;
  background-color: $light-grey;
  font-family: $FiraCodefontFamily;
  
  &::placeholder {
    font-style: italic;
    font-weight: 400;
    font-family: $FiraCodefontFamily;
  }

  &:focus {
    transition: all 1px ease-in-out;
    background-color: white;
    box-shadow: $shadow-button-hovered;
  }

  &:active {
    background-color: white;
  }
}