.keyBoardWrapper {
  padding: 5px;
  background-color: black;
  width: 100%;
  height: auto;
  margin: 5px 0;
  border-radius: 5px;
  overflow: hidden;
}

.keyBoardRow {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.key {
  border: 3px solid #46464e;
  border-width: 4px 4px 7px 4px;
  // border-style: outset;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  margin: 1px;
  flex-grow: 1;
  background-color: #6f7178;
  border-radius: 5px;
  &:hover {
    transform: scale(0.9);
  }
}