@import '../../../styles/sass/abstracts/index.scss';

@mixin letterLook {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem 0.2rem;
  border-radius: 5px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-weight: 800;
}

.letter {
  @include letterLook;
}

.passedLetter {
  background-color: $secondary;
  color: $primary;
  @include letterLook;
  @include stroke(black, 1px);
}