@import '../../theme/index.scss';

.words-collection--wrapper {
  position: relative;
  background: #ffffff;
  border: 3px solid black;
  padding: 0 2rem;
  // Make words collection to take vertically the space left
  flex: 1;
  overflow-y: hidden;
  border-radius: 5px;

  div {
    span {
      font-family: $FiraCodefontFamily;
    }
  }
}
