@import "../../../styles/sass/abstracts/variables";
@import "../../../styles/sass/abstracts/mixins";
@import "../../../styles/sass/abstracts/colors";
@import "../../../styles/sass/abstracts/breakpoints";

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary;
  height: calc(100vh - 5px - 2rem);
  width: 220px;
  @include thickBorder();

  .closingCross {
    position: absolute; 
    right: 15px; 
    top: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: $tertiary;
  }
  
  .sideBarButton {
    position: relative;
    padding: 5px 0;
    width: 100%;
    cursor: pointer;

    p {
      font-family: 'Poppins';
      color: $tertiary;
      font-weight: 700;
      font-size: 17px; // 40px; on mobile
      margin: 0;
      @include stroke($outline, 3px);
    }
  }
}

@media screen and (max-width: $md-screen) {
  .sideBar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
    background: no-repeat url('../../../src/assets/Images/main-background.png');
    background-size: cover;

    .sideBarButtonsWrapper {
      flex: 1; 
      display: flex; 
      flex-direction: column; 
      justify-content: space-evenly; 
    }

    .sideBarButton {
      padding: 0;

      p {
        text-align: center;
        font-size: 35px;
      }
    }
  }
}