@import "../../../styles/sass/abstracts/variables";
@import "../../../styles/sass/abstracts/mixins";
@import "../../../styles/sass/colors";

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid $outline;
  background-color: $secondary;
  height: calc(100vh - 5px - 2rem);
  padding: 1rem;
  width: 220px;
  box-shadow: $shadow-button;

  .sideBarButton {
    position: relative;
    padding: 5px 0;
    width: 100%;
    cursor: pointer;

    p {
      font-family: 'Poppins';
      color: $tertiary;
      font-weight: 700;
      font-size: 20px;
      margin: 0;
      @include stroke($outline, 3px);
    }
  }
}



@media(max-width: 700px){
.sideBar {
  width: 3rem;

  .sideBarButton {
    width: 3rem;

    p {
      display: none;
    }
  }
}

.leftSideBar {
  display: none;
}
}

@media screen and (max-width: 400px) {
  .sideBarButtons {
    position: fixed;
    background-color: #343434 !important;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
    height: 3rem;
    border-top: 1px dashed;
    width: 100%;
    flex-direction: row;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    ul {
      display: flex;
      justify-content: space-around;
    }
  }
}