@import "../index.scss";

.profile--main {
  display: flex;
  justify-content: center;
  padding: 1rem;
  overflow-y: scroll;

  .profile-container {
    &--wrapper {
      width: 80%;
      padding: 1rem;
      margin: 0 1rem;
    }
    // First profile section
    &--top-section {
      display: flex;
    }

    // Second profile section
    &--user-stats {
      display: flex;

      .user-stats {
        width: 39rem;
        height: 100%;
        flex-wrap: wrap;
        flex-basis: 55%;
      }

      .custom-quote {
        flex: 1;
        background: rgb(213, 230, 228);
      }

      .user--rank {
        flex: 1;
      }
    }
    // Third section
    &--progress-chart {
      flex: 1;
    }

    // Fourth section
    &--activity-tracker {
      flex: 1;
    }
  }
}
