@import "../index.scss";

.training-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  @include darkBackground();

  .training-page--wrapper {
    @include mainContainer();

    .keyboard--layout {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
