@import "src/theme/index.scss";

.training-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  @include darkBackground();

  .training-page--wrapper {
    @include mainContainer();

    .keyboard--layout {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .down-arrow {
    position: absolute;
    right: 0.5rem;
    top: -1.4rem;
    animation: moveUpDown 2s ease-in-out infinite;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: $sm-screen) {
  .training-page {
    .training-page--wrapper {
      width: 100%;
    }
  }
}

@media screen and (max-width: $md-screen) {
  .training-page {
    .training-page--wrapper {
      height: 90%;
    }
  }
}
