@import '../../../../../theme/index.scss';
.weekly-tracker {
  &--card {
    flex: 1;
    padding: 1rem;
  }

  &--wrapper {
    display: flex;
  }

  &--session-count {
    display: flex;
    flex-direction: column;
  }
}
