@import '../../../styles/sass/abstracts/index.scss';

.displayer {
  width: 100%;
  position : relative;
  font-weight: normal;
  font-size: 1.6rem;
  padding: 1rem !important;
  text-align: justify;
  height: 8rem;
  overflow-y: hidden;
  position: relative;
  box-shadow: none;
  background-color: $tertiary;
  // @include thinBorder();
}

.displayer:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 3rem;
}

.wordFocus {
  background-color: rgb(255, 140, 0, 0.3);
  padding: 2px;
  border-radius: 5px;
}

.overlay {
  display: inline;
  width: 100%;
}

.hide {
  display: none !important;
}

.borderTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 14px;
  background-color: white;
  z-index: 1;
}
