@import '../abstracts/index.scss';

.statTitle {
  text-align: center;
  color: $primary;
  @include stroke($outline, 3px);
}

.scoreCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

@media screen and (max-width: $sm-screen) {
  .statTitle {
    font-size: 36px;
  }
}