@import "../abstracts";

// Global layout
.layout {
  display: flex;
  height: 100vh;
  background-color: $secondary;
  padding: 1rem;

  // Module layout
  .layout--main {
    flex-grow: 1;
    padding: 0 20px;

    // Vignettage
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,1) inset;
  }
}

@media screen and (max-width: $md-screen) {
  .layout {
    .button--primary {
      margin: 0.5rem;
      padding: 0.4rem 0.5rem;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
