@import "../../../../theme/index.scss";

.options--wrapper {
  position: relative;
  margin-top: 10px 0 0 0;
  padding: 0;
  background-color: $tertiary;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: $FiraCodefontFamily;

  .button-group {
    display: flex;
    position: relative;

    &--wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--label {
      font-weight: 800;
      font-family: $FiraCodefontFamily;
    }

    .option-language--button {
      width: inherit;
      color: $outline;
      width: 100%;

      &:hover {
        color: $primary;
      }
    }
  }

  .separator {
    color: $outline;
  }

  // Option gear
  .option-cta {
    position: absolute;
    right: 0;
  }

  .disabled-options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: not-allowed;
    z-index: 99;
  }
}

.main-options--wrapper {
  justify-content: center;
}

.hidden {
  display: none;
}
