@import "src/theme/index.scss";

.avatar-cropper--wrapper {
  input[type="file"] {
    display: none;
  }

  .file-upload {
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    background-color: $very-light-grey;
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    font-family: $FiraCodefontFamily;

    &__icon {
      width: 8rem;
      height: 8rem;
      border-radius: 10px;
      border: 3px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: $primary;
    }
  }
}
