.keyBoardWrapper {
  padding: 5px;
  border: 1px black solid;
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.keyBoardRow {
  display: flex;
  justify-content: space-between;
}

.key {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin: 1px;
  flex-grow: 1;
  border-radius: 5px;
}