@import "src/theme/index.scss";

.notification {
  padding: 16px;
  margin: 16px 0;
  border: 3px solid #ccc;
  border-radius: 4px;
  font-family: $FiraCodefontFamily;
}

.notification.info {
  background-color: #e6f7ff;
  border-color: #b3daff;
  color: #007bff;
}

.notification.warn {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.notification.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
