@import "../../../../../../../theme/index.scss";

.activity {
  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $FiraCodefontFamily;
    rotate: 45deg;
    width: 2rem !important;
    height: 2rem !important;
    margin: 0 0.5rem;
    border-radius: 5px;

    span {
      rotate: -45deg;
    }
  }

  &--missed {
    border: 1px dashed $light-grey;
    color: $light-grey;
  }

  &--today {
    border: 1px dashed $primary;
    box-shadow: 5.5px 5.5px 0px fade-out($grey, 0.9);
    animation: float 3s infinite ease-in;
    rotate: 45deg;
    color: $primary;
  }

  &--played {
    border: 1px solid $primary;
    color: $primary;
  }

  &--to-come {
    border: 1px dashed grey;
    color: grey;
  }
}

@keyframes float {
  0% {
    transform: translate(0);
    rotate: 45deg;
    box-shadow: 5.5px 5.5px 0px fade-out($grey, 0.9);
  }
  50% {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0px fade-out($grey, 0.9);
    rotate: 45deg;
  }
  100% {
    transform: translate(0);
    box-shadow: 5.5px 5.5px 0px fade-out($grey, 0.9);
    rotate: 45deg;
  }
}
