@import "../../theme/index.scss";

.avatar {
  font-family: $FiraCodefontFamily;
  display: inline-flex;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}
