.spacer-small.vertical {
  height: 0.5rem;
}

.spacer-medium.vertical {
  height: 1rem;
}

.spacer-large.vertical {
  height: 2rem;
}

.spacer-small.horizontal {
  width: 0.5rem;
}

.spacer-medium.horizontal {
  width: 1rem;
}

.spacer-large.horizontal {
  width: 2rem;
}
