@import "../../theme/index.scss";

@mixin BaseText {
  white-space: normal;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}

.text {
  &.h1 {
    @include BaseText();
    font-size: 2rem;
  }
  &.h2 {
    @include BaseText();
    font-size: 1.5rem;
  }
  &.h3 {
    @include BaseText();
    font-size: 1.25rem;
  }
  &.p {
    @include BaseText();
  }
  &.bold {
    font-weight: bold;
  }
  &.italic {
    font-style: italic;
  }
  &.underline {
    text-decoration: underline;
  }
  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.thin {
    font-weight: 300; // Generally, 300 is considered a "light" font-weight
  }
  &.fira {
    font-family: $FiraCodefontFamily;
  }
}
