@import "../../theme/index.scss";

.container {
  font-size: 32px;
  font-weight: 800;
  font-family: $FiraCodefontFamily;
  box-shadow: inherit;
  border-radius: 5px;
  padding: 0.2rem 0.6rem;
  background-color: $quaternary;
  border: 3px solid $outline;
}
