.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #343434;
  border-radius: 7.5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  flex-basis: 22%;
  // width: 4rem;

  .cardContent {
    font-weight: bold;
  }

  & > span {
    text-align: center;
  }
}
