@import '../../../styles/sass/abstracts/index.scss';

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  // height: 5rem;
  // margin: 0;
  @include thinBorder();

  .cardContent {
    font-weight: bold;
  }

  & > span {
    text-align: center;
  }
}

@media screen and (max-width: $sm-screen) {
  .cardWrapper {
    flex-basis: 100%;
  }
}

@media screen and (min-width: $sm-screen) and (max-width: $xl-screen) {
  .cardWrapper {
    flex-basis: calc(50% - 1px - (10 * 2px));
  }
}

@media screen and (min-width: $xl-screen) {
  .cardWrapper {
    flex-basis: calc(25% - 1px - (10 * 2px));
  }
}