@import "../../../src/theme/";

.button--primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $outline;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
    padding: 5px 15px;
    @include thinBorder();

    &:active {
        transition: scale 0.1s ease-in-out;
        scale: 0.99;
    }

    &:disabled {
        background-color: grey;
        scale: 1;
        cursor: auto;
    }
}
